
*{
    -fx-font-family:Helvetica;
}

.default_tile{
    -fx-background-color:rgb(200,200,200);
    -fx-border-color:white;
    -fx-border-width:0.5px;
}
.default_tile:hover{
    -fx-background-color:#e0e0e0;
}
.default_tile:disabled{
    -fx-opacity:1;
    -fx-font-weight:bold;
    -fx-background-color:#e0e0e0;
}